<html>
	<head>
		<script type="text/javascript" src="jquery.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>HomeWeb</title>

		

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/bs/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bs/mine.css">
		<link rel="stylesheet" href="/bs/inputslider.css">
		<link rel="stylesheet" href="/bs/roundbutton.css">
		<link rel="icon" type="image/png" href="/index.png" />
	</head>
	
	<body style="background-color:#E5E5E5;">