.round-button {
	width:94%;
}
.round-button-circle {
	width: 105%;
	height:0;
	 padding-bottom: 100%; 
    border-radius: 50%;
	border:1px solid #cfdcec;
    overflow:hidden;
    
    background: #2196F3; 
    box-shadow: 0 0 3px #9D9D9D;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:5em; 
 	margin-top:-2.6em; 
 	margin-right: 1em;
    
	text-align:center;
	color:black;
    font-family:Verdana;
    font-size:1.5em;
    font-weight:bold;
    text-decoration:none;
}